{% if notice_label ==  'follow_work' %}
<a href="{%url profile user.username %}">{{user.username}}</a> 关注了你的企划 [<a href="{%url show_work work.id %}">{{work.name}}</a>]。
{% endif %}

{% if notice_label ==  'follow_user' %}
<a href="{%url profile user.username %}">{{user.username}}</a> 关注了你。
{% endif %}

{% if notice_label ==  'apply_work' %}
<a href="{%url profile user.username %}">{{user.username}}</a> 希望能作为 [{{role}}] 加入你的企划： [<a href="{%url show_work work.id %}">{{work.name}}</a>] [<a href = "{%url show_work work.id %}">现在处理</a>]。
{% endif %}

{% if notice_label ==  'invite_user' %}
<a href="{%url profile user.username %}">{{user.username}}</a> 邀请你作为 [{{role}}] 加入他的企划： [<a href="{%url show_work work.id %}">{{work.name}}</a>] {%templatetag openblock %} if statue == "noanswer" {%templatetag closeblock %} <div id = "id_invitation_{{id}}"><a onclick = "Controller.notice.invite.accept({{id}})">[同意]</a> <a onclick = "Controller.notice.invite.reject({{id}})">[拒绝]</a></div>{%templatetag openblock %} endif {%templatetag closeblock %}
{% endif %}
