{% load thumbnail %}
<div class="projects">
    <strong>满足{% for t in tablist %}"{{t}}"{% endfor %}条件的结果</strong>
    <ul class="list">
        {% for r in result %}
            <li><a href="{{r.get_absolute_url}}"><img src="/uploads/{% thumbnail r.get_cover 200x200 %}"><span class="caption">{{r.get_name}}</span></a></li>
        {% empty %}
            没有相关的结果
        {% endfor %}
    </ul>
</div>
<div class="projects">
{% ifnotequal slug_name 'profiles' %}
    <p>在结果中搜索</p>
    {% for t in rest_tabs %}
        {{ t.tab_name }} 
        {% for s in t.subtab.all %}
        <a href="{{request.get_full_path}} {{s.sub_name}}">{{s.sub_name}}</a>
        {% endfor %}
        <br>
    {% endfor %}
{% endifnotequal %}
</div>