{% extends "base.shtml" %}
{% load i18n %}{% load comments %}{% load thumbnail %}{% load taggit_extras %}

{% block title %}{{user.get_profile.get_name}}的主页{% endblock %}

{% block content %}
<body class="p-index di">
	{% include "inc/navi.html" %}
	<div class="row">
		<div class="col">
			{% include "inc/index-statictics.html" %}
			{% include "inc/timeline.html" %}
		</div>
		<div class="col">
			{% include "inc/updates.html" %}
			<!-- {% include "inc/project-list/recommended.index.shtml" %} -->
			<div class="half">
				{% include "inc/project-list/rank.shtml" %}
			</div>
			<div class="half">
				{% include "inc/activity/index-tile.shtml" %}
			</div>
		</div>
	</div>

	{% include "inc/footer.html" %}
</body>
{% endblock %}
