{% extends "base.shtml"%}
{% load i18n %}{% load comments %}{% load thumbnail %}{% load taggit_extras %}
{% block title %}{{the_user.get_profile.get_name}}的个人主页{% endblock %}

{% block extra_include %}
	{% include "style.html" %}
	{% include "style-form.html" %}
	{% include "style-person.html" %}
{% endblock %}

{% block content %}
<body class="p-person di">
        {% if user.is_authenticated %}
	{% include "inc/navi.html" %}
	{% else %}
        {% include "inc/navi.notlogin.html" %}
	{% endif %}
	<div class="row clear">
		<div class="col">
			{% include "inc/person/profile.html" %}
			{% include "inc/person/timeline.html" %}
		</div>
		<div class="col">
			<ul class="home statictics">
			      {% ifnotequal the_user user %}
				    {% if the_user in user.relationships.following %}
				    <li><a href="{% url WriteMessage %}?username={{the_user.username}}"><strong>Mail</strong>私信</a></li>
				    {% else %}
				    <li><a href="{% url relationship_add the_user.username 'following' %}"><strong>Fo</strong>关注</a></li>
				    {% endif %}
				    <li><a href="{% url InviteWorkMember the_user.username %}"><strong>Invite</strong>邀请</a></li>
			      {% else %}
				    <li><a href="{% url ShowProfile %}"><strong>Setting</strong>设置</a></li>
				    <li>&nbsp&nbsp</li>
				    <li><a href="{% url EditAbility %}"><strong>Ability</strong>技能</a></li>
			      {% endifnotequal %}
			
			</ul>
			
			{% include "inc/project-list/person-watching.shtml" %}
			{% include "inc/project-list/person-own.shtml" %}
			{% include "inc/project-list/person-joined.shtml" %}
		</div>
	</div>
	{% include "inc/footer.html" %}
</body>
{% endblock %}