{% extends "base.html"  %}
{% block title %}{{user.username}}{% endblock %}
{% block content %}
  
<style type='text/css'>
    .container > .sidebar {
		position: absolute;
		right: 20px;
		width: 360px;
		left: auto;
	}

	.container > .content {
		margin-right: 240px;
	}
	.hero-unit {
		padding: 0;
	}
	.abilities {
	  margin: 0;
	  padding: 0;
	  list-style: none;
	}
	.abilities li {
	  width: 50%;
	  float: left;
	  font-size: 16px;
	  font-weight: bold;
	}
	.abilities li strong {
	  font-size: 14px;
	}
	.abilities li.shui {
	  color: #ff6600;
	}
	.abilities li.prog {
	  color: #009933;
	}
</style>

<div class="container">
      <div class="sidebar">
        <div class="well">
			<section id = "work">
				<div class="page-header">
					<h3>主创作品</h3>
			  	</div>
			  	<div class="row">
				  	{% for work in work_set%}
					<div class="span2">
						<li><a href="{%url show_work work.pk%}">
							<img src="/media/{{work.cover}}" width="100px" height="100px">
						</a></li>
						<li><a href="{%url show_work work.pk%}">
							{{work.name}}
						</a></li>
						<li> <a href="{%url profile user.username%}">
							by {{user.username}}
						</a> </li>
					</div>
					{% endfor %}
				</div>
			</section> <!-- section work -->
			<section id = "focus">
				<div class="page-header">
					<h3>关注作品</h3>
			  	</div>
			</section> <!-- section focus -->
			<section id = "related">
				<div class="page-header">
					<h3>参与创作</h3>
			  	</div>
			</section> <!-- section related -->
        </div>
      </div>
      <div class="content">
        <div class="hero-unit">
        	<div class="row"> <div class="span13">
		    	<a href = "{%url profile request.user.username%}">
				<div class="row ">
					<div class="span1">
						<img src="/media/{{profile.avatar.name}}" width="55px" height="55px" />
					</div>
					<div class="span2">
						<h3>{{profile.user}}</h3>
					</div>
				</div> </a>
				
				<div class="row">
					<div class="span1">
					  {% if request.user.id != profile.user_id %}
						<input type="submit" class="btn primary" value="关注">
						<input type="submit" class="btn primary" value="邀请">
            {% else %}
            <input type="submit" class="btn primary" value="权限">
            {% endif %}
					</div>
					<div class="span6">
						<h4>介绍</h4>
						<span>{{profile.intro}}</span>
					</div>
					<div class="span6">
						<h4>技能</h4>
						<ul class="abilities">
							{% for category, lv, name in profile_skill%}
							<li class="{{category}} lv{{lv}}" title="{{name}}">{{name}} <strong>Lv{{lv}}</strong></li>
							{% endfor %}
						</ul>
					</div>
				</div>
				
				<div class="row">
					<div class="span6 offset1">
						<h4>位置</h4>
						<span>{{profile.location}}</span>
					</div>
				</div>
			</div> </div>
        </div>
        <!-- Example row of columns -->
        <section id = "news">
    		<div class="page-header">
				<h1>新鲜事</h1>
		  	</div>
    	</section> <!-- section news -->
    </div>
</div>
{% endblock %}
