{% extends "accounts/settings.html"  %}
{% block title %}短信提醒{% endblock %}
{% block content_content %}
<div class="page-header">
    <h3>短信提醒</h3>
</div>
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>选择</th>
            <th>状态</th>
            <th>标题</th>
            <th>内容</th>
        </tr>
    </thead>
    <tbody>
        {% if notices %}
        {% for notice in notices %}
        <tr>
            <td><input type="checkbox" data-notifictaion-id="{{notice.id}}" /></td>
            <td>{%if notice.unseen %}<span class="label label-success">未读</span>{%else%}<span class="label">已读</span>{%endif%}</td>
            <td><a href="javascript:void(0)">{{notice.notice_type.display }}</a></td>
            <td class="notice_time">{{ notice.added|timesince }}前</td>
        </tr>
        <tr style="display:none;"><td colspan="4">{{notice.message|safe }}</td></tr>
        {% endfor %}
        {% else %}
        <tr><td colspan="4">暂时没有短信</td></tr>
        {% endif %}
        <tr>
            <td colspan="4"><!--button class="btn btn-error">删除</button--></td>
        </tr>
    </tbody>
</table>

<div class="modal hide fade in" id="alertModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>错误信息</h3>
  </div>
  <div class="modal-body">
    <p> </p>
  </div>
  <div class="modal-footer">
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/bootstrap/bootstrap-modal.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.8.17.custom.min.js"></script>
<script>
$(document).ready(function(){
    //接受/拒绝
    $('div.invitation_action').find('a').click(function(e){
        var id = $(this).data('id'), 
            action = $(this).data('action'),
            direction = $(this).data('direction');
        $.ajax({type: 'get', url: '{%url ajax_user_invite_manage %}', data:{'id': id, 'action': action, 'direction':direction},
        	success: function(data){
		    	var data = JSON.parse(data);
		        if (data.state != 'done') {
					$('#alertModal .modal-body p').text(data.error);
          $('#alertModal .modal-footer a').attr("data-dismiss", "modal");
                $('#alertModal .modal-footer a').text("确定");
		            $('#alertModal').modal({'show': true});
				} else {
					$('#id_invitation_' + id).remove();
				}
		    },
		    error: function(jqXHR, textStatus){
		    	$('#alertModal .modal-body p').text('something wrong');
          $('#alertModal .modal-footer a').attr("data-dismiss", "modal");
                $('#alertModal .modal-footer a').text("确定");
                $('#alertModal').modal({'show': true});
		    }
        });
    });
    
    $('table tbody tr').find('td:eq(2)').on('click', function(){
        if ($(this).prev().text() == '未读'){
            var status = $(this).prev(),
                id = $(this).prev().prev().find('input').first().data('notifictaionId');
            $.ajax({type: 'POST', data:{'notice_id': id}, success: function(){
                status.html('<span class="label">已读</span>');
                }
            });
        };
       
       var content = $(this).parent().next();
       if (content.is(":visible")){
           $(this).parent().next().hide();
       }else{
           $(this).parent().next().show();
       }
   }) 
   {%for i in answered%}
   	$('#id_invitation_{{i}}').remove();
   {%endfor%}
});
</script>
{% endblock %}
