{% extends "accounts/settings.html"  %}
{% block title %}基础设置{% endblock %}
{% block content_content %}
<form class = "form-horizontal" ation="" method="post" enctype="multipart/form-data">
{% csrf_token %}
  <legend>基础设置</legend>
  <div class="row">
    <div class="span2">
      <img src="/media/{{profile.avatar}}" width="126px" height="126px" />
      <input class="input-file" id="id_avatar" name="avatar" type="file" style="width:126px;">
      <h3>{{profile.user}}</h3>
    </div>  
    <div class="span7">
      <div class="control-group">
        <label class="control-label" for="id_name">真实姓名</label>
        <div class="controls">
          <input class="span4" id="id_true_name" name="true_name" size="14" type="text" value="{{profile.true_name}}">
          <span  class="help-block">{{form.true_name.errors.0}}</span>
         </div>
       </div>
       <div class="control-group">
         <label class="control-label" for="id_name">地址</label>
         <div class="controls">
           <textarea class="span4" id="id_location" name="location" rows="2">{{profile.location}}</textarea>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="id_email">email</label>
          <div class="controls">
            <input class="span4 disabled" id="id_email" name="email" size="75" type="text" value="{{profile.user.email}}" disabled>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="id_name">自我介绍</label>
          <div class="controls">
            <textarea class="span4" id="id_intro" name="intro" rows="5">{{profile.intro}}</textarea>
          </div>
        </div>
      </div>
  </div>
  <div class="form-actions">
    <input type="submit" class="btn btn-success" value="保存">&nbsp;
  </div>
</form>
{% endblock %}
