{% extends "accounts/settings.html"  %}
{% block title %}基础设置{% endblock %}
{% block content_content %}
<div class="page-header">
	<h3>技能设置</h3>
</div>
<form ation="" method="post">
{% csrf_token %}
<div class="row"> 
	<div class="span2"> <p>
		你所掌握的技能在新岚会以图标的形式。。。。。
	</p> </div>
	<div class="span9">
		<div class="clearfix">
			<div class="input">
				<ul class="inputs-list">
					{% for skill in skill_list %}
					<li> <label>
						<input type="checkbox">
				        <span>{{skill}}</span>
					</label> </li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="actions">
	<input type="submit" class="btn primary" value="Save changes">&nbsp;
</div>
</form>
{% endblock %}
