.pager {
	text-align: right;
	font-size: smaller;
	list-style: none;
	margin: 0;
	padding: 0;
}
.pager li {
	display: inline;
}
.pager li > a {
	padding: 0 0.4em;
}
.pager li.current > a {
	background: #002C92;
	color: white;
}
.pager li.disabled {
	color: #999;
}
