.projects h2, .projects .list { clear: both }
.projects .list {
	list-style: none;
	margin: 0 -3px;
	padding: 0;
	overflow: hidden;
}
.projects .list li {
	padding: 0;
	margin: 3px;
	float: left;
	min-width: 10px;
	max-width: 225px;
	overflow: hidden;
	position: relative;
	box-shadow: rgba(0,0,0,0.05) 0 1px 10px;
}
.projects .list li a {
	text-decoration: none
}

.projects .list li img{
	display: block;
	margin: 0 auto;
	padding: 0;
	border: none;
	height: 112px;
	min-width: 10px;
	max-width: 300px;
}
.projects .list li .caption {
	font-size: smaller;
	line-height: 1.5em;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 0.4em;

	background: white;
	background: rgba(255, 255, 255, 0.8);
}
.projects .list li a .updates {
	width: 2em;
	height: 2em;
	text-align: center;
	line-height: 2;
	background: white;
	color: #002C92;
	border-radius: 1em;
	display: block;
	position: absolute;
	right: 0.5em;
	top: 0.5em;
}
.projects .list li a:hover span.caption {
	background: white;
}
.projects .list li a:hover .updates {
	background: #002C92;
	color: white;
	box-shadow: rgba(255,255,255,0.5) 0 0 0 2px;;
}
.projects .list.notifications li {
	min-width: 0;
	background: white;
	font-size: smaller;
	box-shadow: rgba(0,0,0,0.05) 0 0 0 1px, rgba(0,0,0,0.1) 0 1px 10px;
}
.projects .list.notifications li > a {
	display: block;
	padding: 0.4em;
	line-height: 1.5em;
}

.projects .list.notifications li > a > strong {
	display: inline-block;
	min-width: 1.2em;
	padding: 0 0.2em;
	text-align: center;
	background: #002C92;
	color: white;
	border-radius: 1.5em;
}

.projects .more {
	font-size: smaller;
	display: block;
	text-align: right
}
.projects ul.more {
	list-style: none;
	margin: 0.4em 0;
	padding: 0;
}
.projects ul.more li {
	display: inline
}

.projects h2 + .more {
	margin-top: -2em
}
