.timeline > .list{
	clear: left;
	list-style: none;
	margin: 0.4em 0;
	padding: 0;
	border-left: none;
}
.timeline > .list > li {
	border-top: 1px dotted #eee;
	margin: 0;
	padding: 0.8em 0 0.8em 56px;
	border-left: 3px solid #002C92;
	position: relative;
	min-height: 40px;
	font-size: 90%;
}
.timeline > .list > li:first-child { border-top: none }
.timeline > .list > li span.image {
	display: block;
	position: absolute;
	background: white;
	top: 0.8em;
	left: 8px;
	width: 40px;
	height: 40px;
	overflow: hidden;
	box-shadow: rgba(0,0,0,0.05) 0 0 0 1px, rgba(0,0,0,0.1) 0 1px 10px;
	
}
.timeline > .list > li > ol {
	list-style: none;
	clear: both;
	margin: 0;
	padding: 0.6em 0 0 0;
	line-height: 24px;
	min-height: 24px;
	font-size: small;
}
.timeline > .list > li > ol > li {
	float: none;
	clear: both;
	margin: 0.4em 0;
}
.timeline > .list > li > ol span.image {
	position: static;
	float: left;
	width: 24px;
	height: 24px;
	margin: 0 6px 0 0;
	box-shadow: none;
}
.timeline > .list > li > ol span.image > img {
	width: 24px;
}
.timeline > .list > li > ol.many { padding-top: 1em }
.timeline > .list > li > ol.many > li {	clear: none; height: 0; margin: 0; padding: 0 }
.timeline > .list > li > ol.many > li.all { float: left; height: 24px }
.timeline > .list > li > ol.many > li q { display: none }

.timeline > .list > li span.image > img {
	width: 40px;
	max-height: 300px;
}


.timeline .list li.update { border-left-color: #f33298 }
.timeline .list li.issue { border-left-color: #60a532 }
.timeline .list li.recommend { border-left-color: #c39832 }
.timeline .list li.update a, .timeline a.update { color: #f33298 }
.timeline .list li.issue a, .timeline a.issue { color: #60a532 }
.timeline .list li.recommend a, .timeline a.recommend { color: #c39832 }

.timeline .list li cite { font-style: normal }
.timeline .list li cite a, .timeline .list li .meta a { color: #666 }
.timeline .list li span.meta {display: block; font-size: smaller; color: #999; margin-top: 0; margin-bottom:-0.4em}
.timeline .list li q:before { content: ''}
.timeline .list li q:after {content: ''}


.timeline .actions {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.timeline > ul.categories > li, .timeline .actions>li {
	float: left;
	font-size: smaller;
	line-height: 2;
	margin: 0;
	padding: 0 0.4em;
	height:2em;
}



form.timeline-update {
	margin: 0.4em 0 2.5em;
	padding: 0;
	position: relative;
}
form.timeline-update textarea {
	display: block;
	width: 710px;
	height: 4.5em;
	line-height: 1.5;
	margin: 0;
	padding: 5px;
}
.di .col form.timeline-update textarea {
	width: 460px
}
form.timeline-update textarea:focus { outline: none }
form.timeline-update:after, form.timeline-update:before {
	overflow: hidden;
	display: block;
	content: 'x';
	position: absolute;
	top: 100%;
	right: 4em;
	width: 0;
	height: 0;
	margin-right: -0.6em;
	border: 0.6em solid rgba(0,0,0,0.1);
	border-left-color: transparent;
	border-bottom-color: transparent;
	z-index: 5
}
form.timeline-update:after {
	border: 0.5em solid #e6e1e8;
	border-left-color: transparent;
	border-bottom-color: transparent;
	margin-right: -0.5em;
}
form.timeline-update input {
	display: block;
	position: absolute;
	font-size: smaller;
	line-height: 2;
	vertical-align: middle;
	margin-top: 0.4em;
	padding: 0 0.4em;
	right: 0;
	top: 100%;
	height: 2em;
}

.timeline > .list > li > form.timeline-reply {
	clear: both;
	padding: 1em 0 0;
}
.timeline > .list > li > form.timeline-reply > input {
	font-size: small;
}
.timeline > .list > li > form.timeline-reply > input[type=text] {
	width: 20em;
}



.timeline.comments {
	margin-top: 4em
}
.project-info + .timeline.comments,
.project-links + .timeline.comments { margin-top: 0.6em }


.timeline.comments form.timeline-update:before, .timeline.comments form.timeline-update:after {
	margin-top: -1.7em
}
.timeline.comments form.timeline-update input {
	margin: auto;
	top: auto;
	bottom: 0
}



.timeline.history > ol.list > li {
	padding-left: 8px;
}

.timeline.history > ol.list ul.updates {
	list-style: none;
	padding: 0;
	margin-left: 0;
	font-size: smaller;
}
.timeline.history > ol.list ul.updates > li {
	margin: 0.4em 0;
}
.timeline.history > ol.list ul.updates > li:before {
	display: inline-block;
	background: #002C92;
	content: '.';
	width: 1.5em;
	text-align: center;
	margin: 0 0.5em;
	color: white;
	border-radius: 0.3em;
	font-weight: bold;
}
.timeline.history > ol.list ul.updates ins,
.timeline.history > ol.list ul.updates del {
	text-decoration: none;
}
.timeline.history > ol.list ul.updates > li.add:before { content: 'A'; background: green }
.timeline.history > ol.list ul.updates > li.modify:before { content: 'M'; background: #d84 }
.timeline.history > ol.list ul.updates > li.remove:before { content: 'D'; background: #900 }

.timeline.nobox > ol.list {
	background: none;
	box-shadow: none;
}
.timeline.nobox > ol.list > li {
	border: none;
	padding: 0 0 0 48px;
	min-height: 40px;
	margin: 0.8em 0;
}
.timeline.nobox > .list > li span.image {
	top: 0; left: 0;
}
