body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, img, dl, dt, dd, table, th, td, blockquote, fieldset, div, strong, label, em { border: 0 none; margin: 0; padding: 0; }
ul, ol, li { list-style: none; }
.images (@name, @format: jpg) {
    @url: "/static/images/" ;
    background: url("@{url}@{name}.@{format}");
}

.corners (@radius: 5px) {
    border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
}

.shadow {
    box-shadow: ~"rgba(200,200,20)";
    -webkit-box-shadow: ~"rgba(200,200,20)";
    -khtml-box-shadow: ~"rgba(200,200,200,1) 0 2px 18px";
}

.transition {
    transition: color .1s linear .1s;
    -moz-transition-property: color;
    -moz-transition-timing-function: ease-in;
    -moz-transition-duration: 1s;
    -moz-transition-delay: 0;
    -webkit-transition-property: color;
    -webkit-transition-timing-function: ease-in;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0;
}

body {
    margin:0px; padding:0px;
    //background:#ccc;
    .images(bg_fhd, jpg);
    background-position: top center;
}
a {
    color: #c29864;
    text-decoration: none;
    //.transition;
}
a:hover {
    text-decoration: none;
    color: #9f896c;
}
header {
  .brand {.transition;}
  
    //margin-top:50px;
}
footer {
}
hr {margin:10px 0 10px; border-color:#e3d4c1;}
.title {font-size:16px; color:#bf935b;}
.panel-title {
    color: #3A87AD;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    padding: 10px 10px 10px;
    border-bottom: 1px solid #DDD;
    background-color: #FAFAFA;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), color-stop(25%, white), to(whiteSmoke));
    background-image: -webkit-linear-gradient(white, white 25%, whiteSmoke);
    background-image: -moz-linear-gradient(top, white, white 25%, whiteSmoke);
    background-image: -ms-linear-gradient(white, white 25%, whiteSmoke);
    background-image: -o-linear-gradient(white, white 25%, whiteSmoke);
    background-image: linear-gradient(white, white 25%, whiteSmoke);
    background-repeat: no-repeat;
}
.work-title {
    margin-right: 20px;
    display: block;
    border-bottom: 1px solid #E5E5E5;
    a {
        color: #3A87AD;
    }
    a:hover{
        color: #F89406;
        text-decoration: none;
    }
}

.work {
    height: 65px;
    border-bottom: 1px #ccc solid;
    margin: 6px 0px;
    .thumbnail{
        width:50px; float: left;
        margin-left:5px;
    }

    article{
        margin-left:80px;
        h6 {
            border-bottom: 1px #ccc solid;
            margin-right:20px;
        }
        p {
            margin-top: 5px;
        }        
    }
}

.content{
    article {
        p {
          
        }
    }

}
.panel {
    border: 1px solid #DDD;
    .corners(3px);
    margin-bottom: 20px;
}
.login-panel {
    padding: 20px;
}

.element {
  margin:10px 0px;
  border-bottom:1px inset;
  toolbar { height:30px; margin:10px 0px 5px 25px;}
}

fieldset{
  legend { 
    font-weight: bold;
    margin: 20px 0px; 
    h2 { line-height: 80px; color: #bf935b;}
  }
}

#tool_bar {
  button { margin-bottom:5px; }
}

#id_story_upload { display:inline;}
.uploadify:hover .uploadifyButton {
    background-color: #808080;
}
.uploadifyQueueItem {
    background-color: #F5F5F5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font: 11px Verdana, Geneva, sans-serif;
    margin-top: 5px;
    max-width: 350px;
    padding: 10px;
}
.uploadifyError {
    background-color: #FDE5DD !important;
}
.uploadifyQueueItem .cancel {
    float: right;
}
.uploadifyQueue .completed {
    background-color: #E5E5E5;
}
.uploadifyProgress {
    background-color: #E5E5E5;
    margin-top: 10px;
    width: 100%;
}
.uploadifyProgressBar {
    background-color: #0099FF;
    height: 3px;
    width: 1px;
}