{% extends "base.shtml" %}
{% load i18n %}

{% block title %}{% if not add %}不再{% endif %}{{ status.verb }} {{ to_user.get_profile.get_name }}?{% endblock %}

{% block extra_include %}
	{% include "style.html" %}
	{% include "style-form.html" %}
	{% include "style-person.html" %}
{% endblock %}

{% block content %}
<body class="p-project-create si">{% include "inc/navi.html" %}
	<form class="master" method="post" action="">
		<h2>添加关注</h2>
                <label class="required">
			<p>{% if not add %}不再{% endif %}{{ status.verb|capfirst }} {{ to_user.get_profile.get_name }}?</p>
		</label>
		<div class="label submit">
			<input type="submit" value="确认" />
		</div>
	</form>
{% include "inc/footer.html" %}
</body>
{% endblock %}
