<div class="view-content text">
<!-- {{section.content|removetags:"script body html head title div style table td tr span h1 h2 h3 h4 h5 h6"|safe}} -->
<br>
<h2>关于新岚</h2>
这是你。你应该在各个QQ群中有不少基友，你也应该在不少动漫论坛里潜水了一段时间，或许你还逛过光怪陆离，“基”情四射，“腐”败不堪的同人漫展。是否有那种，围观者离你很近，大手离你很远的感觉？在Pixiv上大喊“砍手”，在微博上用7个惊叹号转发，但是那终究还是别人的。
<br><br>这也是你。你应该是知名的画手，你的小说可能有很多人在追，你或许还会唱歌，编曲，做游戏，但是当你被沉重的约稿压的抬不起头，每天被主催追杀的时候，是否有那种，作品离你很近，创作离你很远的感觉？
<br><br>新岚的发起者认为，创作是每个人与生俱来的欲望和天赋。这种欲望不应该被压抑，这种天赋不应该被浪费。结果如何，或许并不那么重要，重要的是创作行为本身是否活跃在你的生活里。
<br><br>在新岚，你可以找到自己的位置，自己的归属，自己的舞台；你可以尽情展现自己的作品、观摩他人的作品甚至参与他人的作品。Synclee变形于Syncline（同步战线），这是一条合作的战线，一条崭新的战线，一条通向梦想的战线。新岚致力于展现你的创作过程，活跃你的创作思想，在与他人无缝的合作中，重新找回创作的快乐。
<br><br>在新岚刚刚有雏形的时候，有这样一段话在发起者中引起了共鸣：
<br>
<br>什么中国不能有Pixiv不能有deviantART？
<br>为什么中国不能有CM不能有虎穴？
<br>什么中国不能有神主不能有秋枝？
<br>会有的，都会有的。
<br>这就是我们在做的。
<br>这也是你们在做的。
<br><br>
</div>

