@import url(f-pt-sans/stylesheet.css);
@import url(f-pt-serif/stylesheet.css);

html, body {
	margin: 0;
	padding: 0;
}
html { 
	background: #f7f4f9 url(image/background.gif);
	line-height: 1.5;
	font-family: "PT Sans", "Helvetica", "Arial", sans-serif;
}
a {color: #002C92; text-decoration: none}
a:hover {text-decoration: underline;}
a img { border: none }
p { margin: 0.6em 0 }

h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Sans Caption', "Helvetica", "Arial", sans-serif;
}


input[type=text], input[type=password], select, textarea,
button, input[type=submit], input[type=reset], input[type=button], a.button {
	font-size: 14px;
	border-left: 1px solid #bbb;
	border-top: 1px solid #bbb;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: white;
	padding: 4px;
	margin: 0;
	line-height: 1.4em;
	min-height: 1.4em;
}

button, input[type=reset], input[type=button] {
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	background: #f7f7f7;
	padding-left: 0.6em; padding-right: 0.6em;
	cursor: pointer;
}
button:active, input[type=reset]:active, input[type=button]:active {
	border-left: 1px solid #bbb;
	border-top: 1px solid #bbb;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
input[type=submit], a.button {
	border: 1px solid #002C92;
	background: #002C92;
	color: white;
	cursor: pointer;
}
input[type=submit]:hover {
	box-shadow: #002C92 0 0 12px -3px;
}
textarea { overflow: auto }
.more {
	margin: 0;
	padding: 0;
	font-size: smaller;
	text-align: right;
	display: block;
}
