.project.featured {
	margin-bottom: 0.5em;
}
.project.featured > a { display: block; text-decoration: none; position: relative }
.project.featured > a > img { display: block }
.project.featured > a > span {
	color: #ccc;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	padding: 5px 0.6em 4px;
	line-height: 40px;
	background: url(image/featured-overlay.png) repeat-x bottom left;
}
.p-index .project.featured > a > span {
	bottom: auto;
	top: 0;
	padding-top: 0;
}
.project.featured > a:hover > span {
	color: white
}
.project.featured > a > span > em {
	color: #eee;
	font-style: normal;
	font-weight: bold;
}
.project.featured > a:hover > span > em { color: white }
.project.featured > a > span > q ,
.project.featured > a > span > cite {
	font-size: smaller;
	margin-left: 1em;
}
.project.featured > a > span > q:before { content: '' }
.project.featured > a > span > q:after { content: '' }
