.query-form { font-size: smaller; overflow: visible }
.query-form:after { content:'.'; display: block; height: 0; overflow: hidden; clear: both}
.query-form .filters {
	list-style: none;
	margin: 0;
	padding: 0;
}
.query-form > fieldset ,
.query-form .filters > li {
	margin: 0;
	border: none;
	padding: 0.4em 0.6em;
	float: left;
	border-right: 1px solid #eee;
}
.query-form > fieldset { padding-left: 0.4em }

.query-form .filters > li > button {
	padding: 0;
	margin: 5px 0 5px 4px;
	width: 1.4em;
	border: none;
	background: #555;
	color: white;
	border-radius: 3px;
}

.query-form > fieldset > input[name=query] {
	width: 240px;
	position: relative;
	z-index: 1001;
}
.query-form .filters > li > input {
	border: 1px solid white;
}
.query-form .filters > li > input:hover,
.query-form .filters > li > input:focus {
	border: 1px solid #ddd;
}

.query-form .filters > li > input:hover {
	cursor: text;
}

.query-form .filters > li > input.empty {
	width: 1.4em
}
