{% load i18n %}
<!DOCTYPE HTML>
<html lang="zh-cn">
{% block header %}
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %} | [Synclee]</title>
    <link type="text/css" rel="stylesheet/less" href="/static/css/style.less"/>
    <link rel="stylesheet/less" type="text/css" href="/static/css/bootstrap/bootstrap.less">
    <script type="text/javascript" src="/static/js/less-1.1.5.min.js"></script>
</head>
<body>
<header>
  <div class="navbar">
    <div class="navbar-inner" style="border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">SyncLee</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="/">首页</a></li>
            <li><a href="{%url list_works %}">所有企划</a></li>
            <li><a href="#">用户列表</a></li>
            <li><a href="{%url work_rank %}">排行榜</a></li>
          </ul>
          <!--form class="navbar-search pull-left" action="">
            <input type="text" class="search-query span2" placeholder="Search">
          </form-->
          <ul class="nav pull-right">
            {% if user.is_authenticated %}
            <li><a href="{%url profile request.user.username%}">{{request.user.username}}</a></li>
            <li class="divider-vertical"></li>
            <li><a href="{%url settings "profile"%}">个人设置</a></li>
            <li class="divider-vertical"></li>
            <li><a href="{%url logout %}">登出</a></li>
            {% else %}
            <li><a href="{%url login %}">登录</a></li>
            <li class="divider-vertical"></li>
            <li><a href="{%url register %}">注册</a></li>
            {% endif %}
          </ul>
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div>
</header>

{% endblock %}

{% block extrahead %}{% endblock %}

{% block content %}{% endblock %}
<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap/bootstrap-tooltip.js"></script>
<script>
$(document).ready(function(){
   {% if user.is_authenticated %}
   function checkUnread(){
       $.ajax({
           url: '{%url unread %}',
           data: {uid: {{request.user.id}}},
           success: function(data){
               if (data != 0){
                   $('.pull-right').children('li:first').tooltip({title: '<a href="/accounts/settings/notification/">你有'+data+'条未读的提醒</a>', placement: 'bottom', trigger: 'manual'});
                   $('.pull-right').children('li:first').tooltip('show');
               }else{
                   $('.pull-right').children('li:first').tooltip('hide');
               }
           }
       })

   };
   setInterval(checkUnread, 15000);
   {% endif %}
});
</script>
{% block script %}{% endblock %}
</body>
</html>
