{% load i18n %}
<!DOCTYPE HTML>
<html lang="zh-cn">
{% block header %}
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %} | [Synclee]</title>
    <link type="text/css" rel="stylesheet/less" href="/static/css/style.less"/>
    <link rel="stylesheet/less" type="text/css" href="/static/css/bootstrap/bootstrap.less">
    <script type="text/javascript" src="/static/js/less-1.1.5.min.js"></script>
</head>
<body>
<header>
<div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar" data-dropdown="dropdown">
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="#">Synclee</a></h3>
          <ul class="nav">
            <li class="active"><a href="/">首页</a></li>
            <li><a href="#">文字</a></li>
            <li><a href="#">漫画</a></li>
            <li><a href="#">图集</a></li>
          </ul>
          <form class="pull-left" action="">
            <input type="text" placeholder="Search">
          </form>
          <ul class="nav secondary-nav">
            {% if user.is_authenticated %}
            <li><a href="{%url profile request.user.username%}">{{request.user.username}}</a></li>
            <li><a href="{%url settings "profile"%}">个人设置</a></li>
            <li><a href="{%url logout %}">登出</a></li>
            {% else %}
            <li><a href="{%url login %}">登录</a></li>
            <li><a href="{%url register %}">注册</a></li>
            {% endif %}
          </ul>
        </div>
      </div><!-- /topbar-inner -->
    </div><!-- /topbar -->
  </div>
</header>

{% endblock %}

{% block extrahead %}{% endblock %}

{% block content %}{% endblock %}
<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
{% block script %}{% endblock %}
</body>
</html>
