<script type="text/javascript" src="/script/jquery.validationEngine.js" charset="utf-8"></script>
<script type="text/javascript" src="/script/jquery.validationEngine-en.js" charset="utf-8"></script>
<link rel="stylesheet" href="/style/validationEngine.jquery.css" type="text/css" />

<script>
module.provide(['jQuery'], function(req){
    var $ = req('jQuery').$;
    $(document).ready(function(){
        $("#vform").validationEngine();
        $("#form3").validationEngine();
        $("#vform2").validationEngine();
        });
});
</script>