{% extends "base.html" %}

{% block title %}新岚 - 发起 合作 原创{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="span8">
        <h2>Welcome to synclee</h2>
        <p>这里是创作与合作的崭新平台。<br/>
        你可以公开自己的作品，并邀请好友一同进行创作。合绘，接龙，还有其他更有趣的玩法等你来开发。<br/>
        新岚希望你在这里找回属于自己的创作乐趣。<br/>
        <p><a href="{%url add_work %}"><button class="btn">开始创作</button></a></p>
        </p>
      </div>
        <div class="span4">

        </div>
    </div>
    <div class="row">
        <div class="span3">
            <ul class="media-grid">
                <li><a href="#"><img src="/static/images/work_1_cover_3.jpg.420x420_q85.jpg" width="150" /></a></li>
            </ul>
        </div>
        <div class="span10">
          {% for work in works %}
          <div><a href="{%url show_work work.id %}">{{work.name}}</a></div>
          {% endfor %}
        </div>
        <div class="span3">111</div>
    </div>
</div>

{% endblock %}
