#pUploadedContents, 
#pUploadedContents ~ .overlay{
	padding: 0 5px;
	height: 360px;
	overflow: auto;
	border-radius: 0;
	clear: both;
}
#pUploadedContents > h3 {
	color: #a576c2;
	margin: 0.4em 0;
	display: none;
	text-shadow: rgba(255, 255, 255, 0.5) 0 1px;
}
#pUploadedContents.empty > h3 {
	display: block
}
#pUploadedContents .chapter{
	margin: 0.5em 0
}
#pUploadedContents ~ .overlay {
	padding: 0;
	position: relative;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#D8000000', endColorstr='#D8000000');
	background: rgba(0,0,0,0.85);
	margin-top: -360px;
	color: #eee;
}
#pUploadedContents ~ .overlay > label,
#pUploadedContents ~ .overlay input,
#pUploadedContents ~ .overlay textarea {
	width: 440px;
}
#pUploadedContents ~ .overlay >  label span, 
#pUploadedContents ~ .overlay > .label span {
	color: white
}
#pUploadedContents > button {
	font-size: 12px;
	line-height: 1.5;
	padding: 0.4em 0.7em 0.4em 24px;
	margin: 0 0.4em 0 0;
	border: none;
	background: #002C92 0.4em 50% no-repeat;
	box-shadow: rgba(0,0,0,0.05) 0 0 0 1px, rgba(0,0,0,0.1) 0 1px 10px;	
	color: white;
	cursor: pointer;
}
#pUploadedContents > #btnAddText {
	background-image: url(../image/icon/w-add.png);
}
#pUploadedContents > #btnUploadFile {
	background-image: url(../image/icon/w-upload.png);
}
