{% extends "base.shtml"%}
{% load i18n %}{% load comments %}{% load thumbnail %}{% load taggit_extras %}
{% block title %}社团{% endblock %}


{% block extra_include %}
	{% include "style.html" %}
	{% include "style-index.html" %}
	{% include "style-person.html" %}
{% endblock %}

{% block content %}
<body class="p-person di">
	{% include "inc/navi.html" %}
	<div class="row clear">
		<div class="col">

		</div>
		<div class="col">

		</div>
	</div>
	{% include "inc/footer.html" %}
</body>

{% endblock %}