{% extends "base.shtml" %}
{% block title %}Messaging{% endblock %}

{% block extra_include %}
	{% include "style.html" %}
	{% include "style-form.html" %}
	{% include "style-person.html" %}
    {% include "forms.html" %}
{% endblock %}

{% block content %}
<body class="p-project-create si">{% include "inc/navi.html" %}
<div class="snav">
 <ul class="browse-path">
  <li><a href="{% url Inbox %} ">收件箱{% if user.get_profile.unread_message %} <strong>({{ user.get_profile.unread_message }})</strong>{% endif %}</a></li>
  <li><a href="{% url Sent %}">发件箱</a></li>
 </ul>
</div>
<form class="master" method="post" action=".?username={{receiver.username}}">
        <h2>写信</h2>
            <label class="required">
                <span>标题</span>
                <input id="title" type="text" name="title" maxlength="30" class="validate[required]" /> <em>* 此项必须填写</em>
            </label>
            <label class="required">
                <span>收件人</span>
                {{receiver.get_profile.get_name}}
            </label>
            <label>
                <span>内容</span>  <textarea name="body"></textarea>
	    </label>
        <div class="label submit">
                <input type="submit" value="发信" />
        </div>
</form>
</body>
{% endblock %}