{% load thumbnail %}
<div class="vcard profile">
	<h2 class="fn"><a href="."><img class="avatar logo" src="/uploads/{% thumbnail work.founder.get_profile.avatar 40x40 %}" />{{work.founder.get_profile.get_name}}</a></h2>
	<dl class="meta">
		<dt>介绍</dt>
		<dd>{{work.founder.get_profile.intro}}</dd>
		<dt>位置</dt>
		<dd>{{work.founder.get_profile.location}}</dd>
	</dl>
	<dl class="meta">
		<!--
		<dt>参与的社团</dt>
                {% for c in founder.club_in %}
		<dd><a href="{{club.get_absolute_url}}">{{c.name}}</a></dd>
		{% empty %}
                <dd>还没有参与任何社团</dd>
                {% endfor %}
		-->
		<dt>技能</dt>
		<dd>
			<ul class="abilities">
                            {% for a in work.founder.get_profile.get_f_ability %}
				<li class="{{a.get_icon}}" title="{{a.tab_name}}">{{a.tab_name}} <strong>Lv1</strong></li>
                            {% endfor %}
			</ul>
		</dd>
	</dl>
	<div class="clear"></div>
</div>
