<div class="vcard profile">
	<h2 class="fn"><a href="club.shtml"><img class="avatar logo" src="rc/avatar.jpg" />Eynfenia Ecosystem Primus</a></h2> 
	<dl class="meta">
		<dt>介绍</dt>
		<dd>小团队而已</dd>
		<dt>概要</dt>
		<dd>5 成员 / 中国</dd>
		<dt>位置</dt>
		<dd>天涯海角</dd>
	</dl>
	<dl class="meta">
		<dt>成员</dt>
		<dd class="chief"><a href="person.shtml">Belleve Invis</a> (负责人)</dd>
		<dd><a href="person.shtml">Ens Toari</a></dd>
		<dd><a href="person.shtml">Lychees</a></dd>
		<dt>技能</dt>
		<dd>
			<ul class="abilities">
				<li class="illust lv2" title="绘画 Level II">绘画 <strong>Lv2</strong></li>
				<li class="litera lv4" title="文字 Level IV">文字 <strong>Lv4</strong></li>
				<li class="web lv5" title="网页设计 Level V">网页设计 <strong>Lv5</strong></li>
				<li class="prog lv5" title="程序设计 Level V">程序设计 <strong>Lv5</strong></li>
				<li class="music lv1" title="音乐 Level I">音乐 <strong>Lv1</strong></li>
				<li class="keng lv5" title="挖坑 Level V">挖坑 <strong>Lv5</strong></li>
			</ul>
		</dd>
	</dl>
	<div class="clear"></div>
</div>
