<h2>注目社团</h2>
<div class="box listbox">
	<ul class="hlist">
		<li><a href="view-team.shtml" title="DFC"><img src="rc/cover6.jpg"/></a></li>
		<li><a href="view-team.shtml" title="Knite Team"><img src="rc/cover.jpg"/></a></li>
		<li><a href="view-team.shtml"><img src="rc/cover.jpg"/></a></li>
		<li><a href="view-team.shtml"><img src="rc/cover.jpg"/></a></li>
		<li><a href="view-team.shtml"><img src="rc/cover.jpg"/></a></li>
		<li class="more"><a href="teams.shtml">更多社团</a></li>
	</ul>
</div>
