<ol class="pager" id="note_pager">
	{% if notices.has_previous %}
	<li id="pre_page_note" url="?page={{ notices.previous_page_number }}&cata={{cata}}"><a href="#">«前一页</a></li>
	{% else %}
	<li class="prev disabled">«前一页</li>
	{% endif %}
	{% if notices.has_previous %}
	<li class="pages" url="?page={{ notices.previous_page_number }}&cata={{cata}}"><a href="#">{{ notices.previous_page_number }}</a></li>
	{% endif %}
	<li class="current"><a href="#">{{ notices.number }}</a></li>
	{% if notices.next_page_number <= notices.paginator.num_pages %}
	<li class="pages" url="?page={{ notices.next_page_number }}&cata={{cata}}"><a href="#">{{ notices.next_page_number }}</a></li>
	{% endif %}
	{% if notices.next_page_number|add:1 <= notices.paginator.num_pages %}
	<li class="pages" url="?page={{ notices.next_page_number|add:1 }}&cata={{cata}}"><a href="#">{{ notices.next_page_number|add:1 }}</a></li>
	{% endif %}
	<li class="ellipsis">...</li>
	<li class="pages" url="?page={{ notices.paginator.num_pages }}&cata={{cata}}"><a href="#">{{ notices.paginator.num_pages }}</a></li>
	{% if notices.has_next %}
	<li class="next" id="next_page_note"  url="?page={{ notices.next_page_number }}&cata={{cata}}"><a href="#">后一页»</a></li>
	{% else %}
	<li class="prev disabled">后一页»</li>
	{% endif %}
</ol>