{% extends "base.html"%}

{% block title %}创建新作品{% endblock %}

{% block content %}
<div class="container">
  <form class="form-horizontal" ation="" method="post"  enctype="multipart/form-data">
    {% csrf_token %}
      <legend>新增企划 - 填写基本信息</legend>
      <div class="control-group">
        <label class="control-label" for="id_name">企划名称</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="id_name" name="name"> {{form.name.errors.0}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="id_isprivate">不公开</label>
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" id="id_isprivate" name="isprivate" value="True">
            勾选后其他用户不能查看该企划
          </label>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="id_category">分类</label>
        <div class="controls">
          <select id="id_category" name="category">
            <option value="other" selected="selected">其他</option>
            <option value="word">文字企划</option>
            <option value="image">图片企画</option>
          </select>
          <p class="help-block">选择后将排行榜中进入不同的分类，不会影响企划的制作</p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="id_cover">企划封面</label>
        <div class="controls">
          <input class="input-file" id="id_cover" name="cover" type="file">
          <p class="help-block">选择并上传一张能代表这个企划的图</p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="textarea">企划描述</label>
        <div class="controls">
          <textarea class="span4" id="id_intro" name="intro" rows="5"></textarea>
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">保存，开始制作企划</button>
        <button type="reset" class="btn" onclick="window.history.go(-1)">返回</button>
      </div>
    </fieldset>
  </form>
  
</div>
{% endblock %}

