{% extends "base.html" %}

{% block title %}所有企划{% endblock %}

{% block content %}

<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th>封面</th>
      <th>企划名称</th>
      <th>创建人</th>
      <th>合作者</th>
    </tr>
  </thead>
  <tbody>
    {% for work in works.object_list %}
    <tr>
      <td width="170"><a href="{%url show_work work.id %}" class="thumbnail">
        <img src="/media/{{work.cover|default:'no_cover.gif'}}" alt="{{work.name}}" width="160" height="120">
      </a></td>
      <td width="470"><a href="{%url show_work work.id %}">{{work.name}}</a><p>{{work.intro}}</p></td>
      <td>
          <span class="label label-important">主创</span> &nbsp;<a href="/accounts/profile/{{work.author}}">{{work.author}}</a><br/>
          {% for v in work.invitation.all %}
          {%if v.invite_status == 'accept'%}
          <span class="label label-success"></span> &nbsp;<a href="/accounts/profile/{{v.invited.username}}">{{v.invited.username}}</a><br/>
          {%endif%}
          {% endfor %}
      </td>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
  <ul>
    {% if works.has_previous %}
    <li><a href="?page={{ works.previous_page_number }}">上一页</a></li>
    {% endif %} 
    {% for i in paginator.page_range %}
    <li><a href="?page={{i}}">{{i}}</a></li>
    {% endfor %}
    {% if works.has_next %}
    <li><a href="?page={{ works.next_page_number }}">下一页</a></li>
    {% endif %}
  </ul>
</div>
</div>

{% endblock %}
