{% extends "base.html"%}

{% block title %} {{work.name}} {% endblock %}

{% block content %}
<div class="container">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <table class="table">
          <thead>
            <tr>
              <th colspan="2"><a href="#" class="thumbnail">
            <img src="/media/{{work.cover|default:"no_cover.gif"}}" width="100%" />
          </a></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="label label-info">企划名称</span></td>
              <td>{{work.name}}</td>
            </tr>
            <tr>
              <td><span class="label label-info">发起人</span></td>
              <td><a href="/accounts/profile/{{work.author.username}}/">{{work.author.username}}</a></td>
            </tr>
            <tr>
              <td><span class="label label-info">参与人</span></td>
              <td>
              {% for p in participated %}
              <li><a href="/accounts/profile/{{p.username}}/">{{p.username}}</a></li>
              {% endfor %}
              </td>
            </tr>
            <tr>
              <td width="60"><span class="label label-info">描述</span></td>
              <td>{{work.intro}}</td>
            </tr>
            <tr>
              {% if not involved %}
              <td><input type="submit" class="btn primary" id = "id_apply_btn" data-toggle="modal" href = "#id_apply" data-backdrop="true" data-keyboard="true" value="加入"></td>
	            {% endif %}
	            
	            {% if followed and not involved%}
	            <td><input type="submit" id="follow_work" class="btn" value="取消" onclick="Controller.follow_work('unfo')"></td>
              {% endif %}
              {% if not followed and not involved%}
              <td><input type="submit" id="follow_work" class="btn primary" value="关注" onclick="Controller.follow_work('fo')"></td>
              {% endif %}
            </tr>
          </tbody>
        </table>
      </div>
      <div class="span8">
      {% if request.user.is_authenticated %}
	    {% if request.user.username == work.author.username %}
	    <section id = "sec_apply">
	    </section>
	    {% endif %}
	    {% endif %}
      {% if elements %}
        <article></article>
      {% else %}
        当前work没有任何element
      {% endif %}
      </div>
  </div>
</div>

<div id="id_apply" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>加入作品</h3>
  </div>
  <div class="modal-body">
	<div class="clearfix">
      <label for="normalSelect">选择角色：</label>
	  <div class="input">
	    <select name="normalSelect" id="id_apply_role">
		  {% for skill, lv, name in skill_list%}
		  <option value = "{{skill}}">{{name}}</option>
		  {% endfor %}
        </select>
      </div>
	</div>
	<div class="clearfix">
      <label for="textarea">申请理由：</label>
	  <div class="input">
	    <textarea class="large" id="id_apply_reason" name="textarea2" rows="5""></textarea>
      </div>
      <span class="help-block">最多300个字符</span>
	</div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn primary" onclick="Controller.apply_for()">Submit</a>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/bootstrap/bootstrap-modal.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.8.17.custom.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.uploadify.js"></script>
<script type="text/javascript" src="/static/js/ajax_csrf.js"></script>
<script>
$(document).ready(function(){
	{%for i in apply_set%}
	$("#sec_apply").append(View.apply_for({{i.id}}, "{{i.invited.username}}", "{{i.skill}}", "{{i.reason}}"));
	{% endfor %}
	
	{% for e in elements %}
    {% if e.category == 'text' %}
    $('article').append(View.Element.text('{{e.content|safe}}', '{{e.title}}'));
    {% endif %}
    
    {% if e.category == 'line' %}
    $('article').append(View.Element.line('{{e.content}}'));
    {% endif %}
    
    {% if e.category == 'image' %}
    var imageSrc = '{{e.content|cut:"/media/upload/"}}'.toString().replace('{{request.user.id}}/', '');
    $('article').append(View.Element.image(imageSrc, '{{e.title}}'));
    {% endif %}
  {% endfor %}
})

var View = {
	apply_for : function(id, applyer, role, reason){
		return '<div class="alert alert-block alert-error fade in" id = "id_apply_'+ id +'"> <h4 class="alert-heading">申请加入!</h4>' +
'<p><B> <a href = "/accounts/profile/' + applyer +'/">' + applyer + '</a>' +
'希望作为' + role + '参加作品的创作</B>' +
'<li>' + reason + '</li> </p>' +
'<p><input type="submit" id="follow" class="btn" value="同意" onclick="Controller.notice.apply.accept('+ id +')">' +
'<input type="submit" id="follow" class="btn" value="拒绝" onclick="Controller.notice.apply.reject('+ id +')"> </p>' +
				'</div>'
	},
	Element : {
    text : function(content, title){
      return '<div class="row element">'+
    '<div class="span1"><span class="label label-success">文字</span></div>'+
    '<h3 class="title">'+title+'</h3>'+
    '<div class="span11">'+content+'</div>'+
    '</div>'},
    image : function(name, title){
      return '<div class="row element">'+
    '<div class="span1"><span class="label label-success">图片</span></div>'+
    '<h3 class="title">'+title+'</h3>'+
    '<img class="span11" src="/media/upload/{{request.user.id}}/'+name+'"></p>'+
    //'<toolbar class="span11" name="toolbar" style="display:none;"><a href="#" name="edit">编辑</a> <a href="#" name="delete">删除</a></toolbar>'+
    '</div>'},
    line : function(name){
      return '<div class="row element">'+
    '<div class="span1"><span class="label success">分割线</span></div>'+
    '<p class="span11">'+name+'</p>'+
    '</div>'},
  },
};
var Controller = {
	apply_for : function(){
		var role = $('#id_apply_role').val();
		var reason = $('#id_apply_reason').val();
		$.ajax({ type: 'post', url : '{%url apply_for %}', data: {'type': 'apply_for', 'role': role, 'reason': reason, 'work_id': "{{work.id}}"}});
		$('#id_apply').modal('hide');
	},
	notice : {
		apply : {
			accept :function(id){
				$.ajax({ type: 'post', url : '{%url notice %}', data: {'type': 'apply_accept', 'id': id}});
				$('#id_apply_' + id).remove();
			},
			reject :function(id){
				$.ajax({ type: 'post', url : '{%url notice %}', data: {'type': 'apply_reject', 'id': id}});
				$('#id_apply_' + id).remove();
			},
		},
	},
	follow_work : function(action){
		if (action == 'fo'){
		  $.ajax({type : 'post', url : '{%url follow_work %}', data : { 'action' : action, 'foid' : {{work.id}}} });
		  $('#follow_work').val('取消').removeClass('primary').attr('onclick', "Controller.follow_work('unfo')");
		}
		if (action ==  'unfo'){
		  $.ajax({type : 'post', url : '{%url follow_work %}', data : { 'action' : action, 'foid' : {{work.id}}} });
		  $('#follow_work').val('关注').addClass('primary').attr('onclick', "Controller.follow_work('fo')");
		}
	},
};
</script>
{% endblock %}
