{% extends "base.html"%}

{% block title %}创建新作品{% endblock %}

{% block content %}
<div class="container">
  <div class="container-fluid">
    <div class="sidebar">
      <img src="{{work.cover}}" width="100%" height="200" />
        <div class="span4">
          {{work.name}}
          <p>{{work.intro}}</p>
        </div>
    </div>
    <div class="content">
      <div class="row">
        <article class="span12" data-bind="foreach:workElements">
          <div class="row">
            <div class="span1"><span class="label success" data-bind="text: category"></span></div>
            <p class="span11" data-bind="text: content"></p>
          </div>
        </article>
        <div class="span12" id="tool_bar">
          <button class="btn" data-controls-modal="id_add_text" data-backdrop="true" data-keyboard="true">添加文字</button>
          <button class="btn">添加图片</button>
          <button class="btn">分割线</button>
        </div>
      </div>
    </div>
  </div>
</div>



<div id="id_add_text" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>Input Text!</h3>
  </div>
  <div class="modal-body">
    <textarea id="id_text" rows="5" cols="100"></textarea>
  </div>
  <div class="modal-footer">
    <a href="#" onclick="addText()" class="btn primary">Dmyz</a>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/bootstrap/bootstrap-modal.js"></script>
<script>
$(document).ready(function(){
  
})

function addText(){
  var v = $('#id_text').val();
  mainViewModel.workElements.push({'category':'文字', 'content' : v})
  $('#id_add_text').modal('hide')
}

var mainViewModel = {
  workElements : ko.observableArray([])
}
ko.applyBindings(mainViewModel);
</script>
{% endblock %}