{% extends "base.shtml"%}
{% load i18n %}{% load comments %}{% load thumbnail %}{% load taggit_extras %}
{% block title %}激活成功{% endblock %}

{% block extra_include %}
	{% include "style.html" %}
	{% include "style-form.html" %}
	{% include "style-person.html" %}
{% endblock %}

{% block content %}
<body class="p-project-create si">{% include "inc/navi.notlogin.html" %}
	<form class="master">
		<h2>激活成功</h2>
		<label class="required">
			<h4>恭喜您已经成功激活了账户，新岚欢迎您立刻加入发起、原创、合作的世界之中</h4>
		</label>
	</form>
{% include "inc/footer.html" %}
</body>
{% endblock %}
