{% extends "base.shtml"%}
{% load i18n %}{% load comments %}{% load thumbnail %}{% load taggit_extras %}
{% block title %}退出登陆{% endblock %}

{% block extra_include %}
	{% include "style.html" %}
	{% include "style-form.html" %}
	{% include "style-person.html" %}
{% endblock %}

{% block content %}
<body class="p-project-create si">{% include "inc/navi.notlogin.html" %}
	<form class="master">
		<h2>退出登陆</h2>
		<label class="required">
			<h4>您已经安全退出了新岚</h4>
		</label>
	</form>
{% include "inc/footer.html" %}
</body>
{% endblock %}
