{% extends "base.shtml"%}
{% load i18n %}{% load comments %}{% load thumbnail %}{% load taggit_extras %}
{% block title %}修改密码{% endblock %}

{% block extra_include %}
	{% include "style.html" %}
	{% include "style-form.html" %}
	{% include "style-person.html" %}
    {% include "forms.html" %}
{% endblock %}

{% block content %}
<body class="p-project-create si">{% include "inc/navi.html" %}
	<form class="master" method="post" action="." id="vform">
		<h2>修改密码</h2>
		<label class="required">
			<span>旧密码</span>
			<input class="validate[required]" id="id_old_password" type="password" class="required" name="old_password" /> <em>* 此项必须填写</em>
		</label>   
		<label class="required">
			<span>新密码</span>
			<input class="validate[required]" id="id_new_password1" type="password" class="required" name="new_password1" /> <em>* 此项必须填写</em>
		</label>                                
                <label class="required">
			<span>新密码（重复）</span>
			<input class="validate[required,equals[id_new_password1]]"  id="id_new_password2" type="password" class="required" name="new_password2" />  <em>* 此项必须填写</em>
		</label>

		<div class="label submit">
			<input type="submit" value="保存"/>
		</div>
	</form>
{% include "inc/footer.html" %}
</body>
{% endblock %}